/* font-family: 'Chakra Petch', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.calculator {
    position: fixed;
    top: 2%;
    bottom: 2%;
    left: 5%;
    right: 5%;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 0 black;
}

.screen {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 20%;
    margin: 20px auto;
    border-radius: 6px;
    background-color: rgb(32, 32, 32);
    border: 2px solid black;
    overflow: hidden;
}

.screen .result {
    flex-grow: 4;
    /*container*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(123, 255, 0);
    font-size: 3.8rem;
}

.screen .info {
    flex-grow: 1;
    /*container*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(123, 255, 0);
}

.screen .info div {
    margin: 0 5px;
    font-size: 1.5rem;
}

.screen .info div i {
    margin: 0 5px;
}

.panel {
    margin: 0 auto;
    width: 90%;
    height: calc(80% - 60px);
}

.panel .buttons1 {
    display: flex;
    justify-content: space-between;
    height: 15%;
}

.panel .buttons1 div {
    flex-basis: 40%;
    margin: 5px 5px 5px 0;
}

.panel .buttons1 div+div {
    margin: 5px 0 5px 5px;
}


.panel .buttons2 {
    display: flex;
    flex-wrap: wrap;
    float: left;
    height: 85%;
    width: 75%;
}

.panel .buttons2 div {
    flex-basis: calc(33% - 10px);
    margin: 5px 10px 5px 0;
}

.panel .buttons3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85%;
}

.panel .buttons3 div {
    width: 100%;
    margin: 5px;
    flex-grow: 1;
}

.panel .buttons3 div:last-child {
    flex-grow: 2;
}

.buttons1 div,
.buttons2 div,
.buttons3 div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 204);
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 0 black;
    border: 2px solid black;
    transition: 0.3s;
    cursor: pointer;
}

.buttons1 div:hover,
.buttons2 div:hover,
.buttons3 div:hover {
    background-color: rgb(255, 229, 204);
    box-shadow: none;
}